/* style.css */
#container {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* Optional gap between map and data section */
}

#mapid {
    height: 500px;
    width: 500px;
    flex-shrink: 0; /* Prevents shrinking of the map */
}

#data-section {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Optional gap between data items */
}

#info, #coordinates, #town_name, #irradiation-table, #irradiation-chart {
    width: 400px; /* Adjust width as needed */
}