<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SolEst</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@turf/turf@6.5.0/turf.min.js"></script>
</head>
<body>
    <h1>SolEst</h1>
    <div id="mapid"></div>
    <p id="info">Click on the map to get coordinates, postal code and town name.</p>
    <p id="coordinates"></p>
    <p id="town_name"></p>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>